/* Tabs */
.wrapper2 {
    margin: 50px auto;
    border: 1px solid gray;
    width: 700px;
    font-size: 12px;
    line-height: 15px;
}

.wrapper2 .active {
    border-bottom: 1px solid #ffffff;
    background-color: #ffffff;
}

.tabs {
    margin-left: 1%;
    border: 1px solid darkgray;
    width: 97.5%;
    display: inline-block;
    background-color: lightgrey;
    padding-left: 0.5%;
    border-radius: 4px;
    padding-top: 3px;
    margin-top: 2px;
}

div.tab {
    cursor: pointer;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 0.1em 0.5em;
    display: inline-block;
    margin: 3px 0 -1px -1px;
    position: relative;
    z-index: 2;
    background-color: #cecdcf;
}

.tab_item {
    padding: 5% 5% 5% 5%;
    /*border: 1px solid gray;*/
    margin-top: -1px;
}