/* Tooltip */
body {
    position: relative;
}

.wrapper {
    background-color: #4f9bf8;
    position: absolute;
    width: 700px;
    left: 50%;
    margin-left: -350px;
}

.form_tooltip {
    background-color: #cecdcf;
    width: 580px;
    height: 200px;
    margin: 50px 0 50px 60px;
    font-family: "Trebuchet MS", "Helvetica", "Arial", "Verdana", "sans-serif";
    font-size: 62.5%;
    padding: 10px 0 20px 0;
}

fieldset {
    border: 2px solid gray;
    width: 450px;
    margin: 0 50px;
    padding: 10px 10px;
}

.firstname > label, .lastname > label, .address > label {
    display: inline-block;
    width: 5em;
}

#firstname, #lastname, #address {
    margin: 8px 0;
}

.btn_helper {
    border: 1px solid #d3d3d3;
    background: #e6e6e6;
    font-weight: normal;
    color: #555555;
    margin: 0 50px;
}

/* Tabs */