body {
	background-color: black;;
	font-family: 'Times New Roman';
	margin: 0;
}
.main_page {
	background-color:#FFFFFF;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	left: 30%;
	margin-top: 0.3%;
	margin-left: 25%;
	margin-bottom:5%;
	padding: 0.5% 3% 5% 5%;
	width: 40%;
}

.background {
	background-color: #D8D8D8;
	border-bottom-left-radius:1%;
	border-bottom-right-radius:1%;
	font-family: 'Times New Roman';
	margin: 0;
	padding-top:0.5%;
	position: absolute;
	width: 100%;

}

.title {
	font-size: 24pt;
	font-weight: bold;
	text-align: center;
}

.photo {
	text-align: center;
}

.info {
	padding-left: 3%;
}

a {
	color: #0000FF;
}

.blue {
	color:#0000FF;
}

li {
margin-left: -4%;
}