table{
    margin: 30px 0 0 30px;
    border-collapse: collapse;
    padding: 0;
}
td{
    border: 3px solid black;
}
tr {
    height: 20px;
}
.row2{
    height: 60px;
}
.row3{
    height: 60px;
}
.box1{
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
}
.box3{
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    background-color: #ffee6f;
}
.box4{
    border-left: 1px solid transparent;
}
.box5{
    background-color: #ff652c;
}
.box6{
    border-right: 1px solid transparent;
    background-color: #ffee6f;
}
.box7{
    border-left: 1px solid transparent;
}
.box9{
    border-right: 1px solid transparent;
}
.box10-11-15-16{
    background-color: #0e070a;
}
.box13{
    border-right: 1px solid transparent;
}
.box14{
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    background-color: #ffee6f;
}
.box17{
    border-right: 1px solid transparent;
    background-color: #064581;
}
.box18{
    border-bottom: 1px solid transparent;
}
.box19{
    background-color: #0e070a;
}
.box20{
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
}