.all-site {
    position: relative;
}

.all-site > * {
    position: absolute;
}

.aligner {
    width: 960px;
    position: absolute;
    left: 50%;
    margin-left: -480px;
}

/*logo of the site & top menu*/
.site-top {
    background: url("../img/bg.jpg") top center no-repeat;
    height: 846px;
    width: 100%;
    position: relative;
}

.slider {
    background-color: rgba(0, 0, 0, 0.3);
    margin: 278px 0 0 0;
    overflow: hidden;
    width: 100%;
    height: 400px;
    float: left;
}

.site-top__logo {
    margin: 51px 0 0 -3px;
    float: left;
}

.header {
    overflow: hidden;
}

.menu__item a {
    text-transform: uppercase;
    color: white;
}

.top-menu {
    margin: 70px 0 0 170px;
    float: left;
}

.menu__item {
    float: left;
    padding: 0 5px;
    font-size: 19pt;
}

.menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(4) {
    margin-left: 39px;
}

.menu__item:nth-child(5) {
    margin-left: 40px;
}

.menu__item:nth-child(6) {
    margin-left: 27px;
}

.menu__item:hover {
    border-bottom: 2px solid #edbfff;
}

/*Slider*/
.slaider__ico-left {
    background: url("../img/pointer_l.png") no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 111px;
    left: -100px;
}

.slider__left-p {
    width: 508px;
    margin: 358px 0 0 -2px;
    display: block;
}

.slider__header-1st-level {
    color: white;
    font-size: 43pt;
    line-height: 1.0;
}

.slider__header-2st-level {
    color: #c09bce;
    font-size: 23pt;
    font-weight: normal;
    margin: -3px 0 0 0;
    display: inline-block;
}

.slider_article {
    font-size: 13pt;
    color: white;
    margin: 4px 0 0 0;
    line-height: 1.45;
    font-weight: normal;
    height: 150%;
    font-family: 'Open Sans';
}

.slider__right-p {
    float: right;
    width: 40%;
}

.phone-line {
    position: relative;
}

.slaider__iphone {
    width: 28.6%;
    position: absolute;
    top: -97px;
    left: 614px;
}

.slaider__ico-right {
    background: url("../img/pointer_r.png") no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 101px;
    left: 1085px;
}

.slider__down-slider {
    background: url("../img/switch_btw.png") no-repeat;
    width: 100%;
    height: 18px;
    clear: both;
    margin: 172px 0 0 708px;
}

/*top article*/
.top-article {
    overflow: hidden;
    clear: both;
    background: linear-gradient(to bottom, #745083 0%, #684875 25%, #533b5e 50%, #3f2d47 75%, #33253a 100%);
    padding: 50px 0 50px 0;
    position: static;
    height: 242px;
}

.top-article__header {
    font-size: 29px;
    color: white;
}

.top-article__article {
    font-size: 19px;
    line-height: 24px;
    color: white;
    margin: 6px 0 0 0;
    overflow: hidden;
    height: 116px;
    font-family: 'Open Sans';
}

.top-article__link {
    text-align: right;
    color: white;
    position: absolute;
    top: 178px;
    left: 158px;
    font-size: 18px;
}

.top-article__link:hover {
    text-shadow: #ffffff 0 0 5px;
}

/* top left article*/
.left__article {
    margin: 0 0 0 37px;
    position: relative;
}

.left__sprite {
    background: url("../img/sprite.png") no-repeat;
    width: 30px;
    height: 30px;
    float: left;
    margin: 8px 0 0 -19px;
}

.top-article__left {
    width: 27%;
    float: left;
    height: 156px;
    margin: 25px 0 0 25px;
}

/*top center article*/
.top-article__center {
    width: 27%;
    float: left;
    height: 156px;
    margin: 24px 0 0 82px;
}

.top-article__center > .center__sprite {
    background: url("../img/sprite.png") no-repeat -31px 0;
    width: 30px;
    height: 30px;
    float: left;
    margin: 11px 0 0 -22px;
}

/*top right article*/
.top-article__right {
    width: 27%;
    float: left;
    height: 156px;
    margin: 24px 0 0 75px;
}

.top-article__right > .right__sprite {
    background: url("../img/sprite.png") no-repeat -62px 0;
    width: 31px;
    height: 30px;
    float: left;
    margin: 9px 0 0 -16px;
}

/*center article*/
.center-article {
    background-color: #f9f9f9;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 50px;
    overflow: hidden;
    position: static;
    height: 435px;
}

/*left panel center article*/
.center-article__left-panel {
    width: 50%;
    overflow: hidden;
    float: left;
}

.left-panel__article {
    background: url("../img/desk.png") no-repeat;
    position: relative;
    margin: 100px 0 0 23px;
    padding: 27px 40px 16px 38px;
}

.left-panel__article__photo {
    background: url("../img/photo.png") no-repeat;
    position: absolute;
    top: 18px;
    left: -26px;
    width: 60px;
    height: 60px;
}

.black-header {
    text-transform: uppercase;
    font-size: 29px;
}

.pink-header {
    text-transform: uppercase;
    font-size: 29px;
    color: #edbfff;
    margin-left: 4px;
}

.left-panel__article__text {
    color: #454545;
    font-size: 19px;
    line-height: 24px;
    margin: 6px 0 0 -5px;
    font-family: "Open Sans";
    overflow: hidden;
    height: 173px;
}

.center-article__slider {
    background: url("../img/switch_wtb.png") no-repeat;
    margin: 54px 0 0 131px;
}

/*right panel*/
.center-article__right-panel {
    width: 50%;
    float: right;
    margin: 125px 0 0 0;
    overflow: hidden;
}

.right-panel__header {
    font-size: 29px;
    color: black;
    margin: 0 0 0 28px;
}

.description__blok {
    margin: 8px 0 0 5px;
    font-family: Arial;
}

.description__header {
    font-size: 17px;
    font-weight: bold;
    margin: 1px 0 0 63px;
}

.description__text {
    margin: 5px 0 0 61px;
    font-size: 16px;
}

.right-panel__description__link {
    clear: left;
    display: block;
}

.right-panel__description__link:nth-child(2) {
    margin: 17px 0 0 27px;
}

.right-panel__link {
    clear: both;
    font-size: 18px;
    margin: 0 0 0 373px;
}

.right-panel__link--768 {
    font-size: 18px;
    display: none;
}

/*right panel first blok*/
.right-panel__cirkle-first {
    background: url("../img/cirkle1.png") no-repeat;
    width: 60px;
    height: 60px;
    float: left;
}

/*right panel second blok*/
.right-panel__cirkle-second {
    background: url("../img/cirkle2.png") no-repeat;
    width: 60px;
    height: 60px;
    float: left;
    margin: -2px 5px 0 3px;
}

.right-panel__description__link:nth-child(3) {
    margin: 25px 0 0 20px;
}

.description__text:nth-child(3) {
    margin: 6px 0 0 66px;
    font-size: 16px;
}

/*right panel third blok*/
.right-panel__cirkle-third {
    background: url("../img/cirkle3.png") no-repeat;
    width: 60px;
    height: 60px;
    float: left;
    margin: -3px 4px 0 3px;
}

.right-panel__description__link:nth-child(4) {
    margin: 20px 0 22px 21px;
}

/*panel logo*/
.panel-logo {
    background-color: #f9f9f9;
    width: 100%;
    overflow: hidden;
    height: 96px;
    clear: both;
    padding: 26px 0 0 0;
    position: static;
}

.logo-brands:nth-child(1) {
    margin-left: 90px;
}

.logo-brands:nth-child(2) {
    margin-left: 62px;
}

.logo-brands:nth-child(3) {
    margin-left: 63px;
}

.logo-brands:nth-child(4) {
    margin-left: 72px;
}

.logo-brands:nth-child(5) {
    margin-left: 61px;
}

.logo-brands:nth-child(6) {
    margin-left: 60px;
}

/*bottom article*/
.bottom-article {
    overflow: hidden;
    clear: both;
    background: #ececec;
    height: 396px;
    position: static;
}

/*left*/
.bottom-article__left {
    width: 33%;
    margin: 98px 0 0 -1px;
    float: left;
}

.bottom-article__left > .bottom-article__center-right__link {
    display: none;
}

.bottom-article__left_header {
    margin: 15px 0 0 -5px;
    font-family: "Georgia Italic";
    font-style: italic;
    font-size: 17px;
}

.bottom-article__left__text {
    font-family: "Open Sans";
    margin: 9px 0 0 -1px;
    font-size: 17px;
    overflow: hidden;
    display: block;
    height: 118px;
    line-height: 24px;
}

/*center*/
.bottom-article__center {
    width: 31%;
    margin: 93px 0 0 6px;
    float: left;
}

.bottom-article__center > .bottom-article__center-right__link--mod {
    display: none;
}

.bottom-article__center-right__link {
    color: #454545;
    font-size: 29px;
    margin: 10px 0 0 15px;
}

.bottom-article__center-right__text {
    font-family: "Open Sans";
    margin: 6px 0 0 15px;
    font-size: 17px;
    overflow: hidden;
    display: block;
    height: 162px;
    line-height: 24px;
}

/*right*/
.bottom-article__right {
    width: 31%;
    margin: 94px 0 0 43px;
    float: left;
}

/*footer*/
.footer {
    clear: both;
    background: url("../img/bg-footer.jpg") no-repeat;
    width: 100%;
    height: 113px;
}

/*bottom menu*/
.bottom-menu {
    margin: 44px 0 0 -7px;
    float: left;
}

.bottom-menu:nth-child(2), .bottom-menu:nth-child(3), .bottom-menu:nth-child(4), .bottom-menu:nth-child(5) {
    margin-left: 33px;
}

.bottom-menu:nth-child(6) {
    margin-left: 31px;
}

.menu--mod {
    font-size: 20px;
    margin: 0 0 0 0;
}

.signature {
    font-size: 13px;
    float: right;
    margin: 51px 2px 0 0;
    color: white;
    font-family: "Open Sans";
}