@media (min-width: 320px) and (max-width: 4800px) {
    .aligner {
        width: 320px;
        position: absolute;
        left: 50%;
        margin-left: -160px;
    }

    /*logo & menu*/
    .site-top {
        height: 515px;
    }

    .site-top__logo {
        margin: 51px 0 0 82px;
    }

    .top-menu {
        margin: 132px 0 0 136px;
        position: absolute;
        text-align: center;
    }

    .menu__item {
        font-size: 23px;
        float: none;
        margin: 11px 0 0 0;
    }
    .menu__item:nth-child(2), .menu__item:nth-child(3), .menu__item:nth-child(4), .menu__item:nth-child(5), .menu__item:nth-child(6){
        display: none;
    }

    /*slider*/
    .slider {
        display: none;
    }

    .slaider__ico-left {
        top: 7px;
        left: -5px;
    }

    .slider__left-p {
        margin: 297px 0 0 63px;
    }

    .slider__header-1st-level {
        font-size: 35px;
    }

    .slider__header-2st-level {
        font-size: 17px;
        margin: 2px 5px 5px 0;
        width: 200px;
        height: 20px;
        overflow: hidden;
    }

    .slider_article {
        display: none;
    }

    .slaider__iphone {
        display: none;
    }

    .slaider__ico-right {
        top: 8px;
        left: 291px;
    }

    .slider__down-slider {
        position: absolute;
        top: -39px;
        left: -587px;
    }

    /*top article*/
    .top-article {
        height: 499px;
    }

    .top-article__header {
        font-size: 23px;
    }

    .top-article__article {
        margin: 3px 0 0 -1px;
        height: 71px;
        width: 200px;
        font-family: 'Open Sans';
        font-size: 15px;
    }

    .top-article__link {
        position: static;
        margin: 13px 53px 0 0;
        display: block;
        font-size: 19px;
    }

    .top-article__link:hover {
        text-shadow: #ffffff 0 0 5px;
    }

    /*top left article*/
    .left__article{
        margin: 0 0 0 56px;
    }
    .top-article__left {
        width: 100%;
        height: 136px;
        overflow: hidden;
        margin: 20px 0 0 26px;
        float: none;
        clear: both;
    }

    .left__sprite {
        margin: 2px 0 0 2px;
    }

    /*top center article*/
    .top-article__center {
        width: 100%;
        height: 136px;
        margin: 21px 0 0 27px;
        float: none;
        clear: both;
    }

    .top-article__center > .center__sprite {
        background-position: 0 0;
        margin: 3px 0 0 1px;
    }

    /*top right article*/
    .top-article__right {
        width: 100%;
        height: 136px;
        margin: 37px 0 0 27px;
        float: none;
        clear: both;
    }

    .top-article__right > .right__sprite {
        background-position: 0 0;
        margin: 3px 19px 0 2px;
    }

    /*center article*/
    .center-article {
        height: 736px;
    }

    /*left panel center article*/
    .center-article__left-panel{
        width: 100%;
        float: none;
        height: 400px;
    }
    .left-panel__article {
        margin: 69px 0 0 42px;
        padding: 8px 10px -0 0;
    }

    .left-panel__article__photo {
        top: 19px;
        left: -24px;
    }

    .black-header {
        font-size: 23px;
        display: block;
        float: none;
        margin: 18px 5px -4px 37px;
    }

    .pink-header {
        font-size: 23px;
        display: block;
        margin: -1px 5px -4px 37px;
    }

    .left-panel__article__text {
        font-size: 16px;
        margin: 6px 0 0 38px;
        clear: both;
        width: 191px;
    }

    .center-article__slider {
        margin: 46px 0 0 97px;
    }

    /*right panel center article*/
    .center-article__right-panel {
        width: 100%;
        margin: 30px 0 0 -21px;
        float: none;
        clear: both;
    }

    .right-panel__header {
        margin: 0 0 0 40px;
    }

    .description__blok {
        margin: 3px 0 0 5px;
    }

    .description__header {
        font-size: 17px;
        font-weight: bold;
        width: 154px;
        height: 22px;
        overflow: hidden;
    }

    .description__text {
        margin: 4px 0 0 0;
        height: 20px;
        width: 266px;
        overflow: hidden;
    }

    .right-panel__description__link {
        margin: 13px 2px 0 40px;
    }
                    /*first*/
    .right-panel__description__link:nth-child(2) {
        margin: 15px 2px 0 44px;
        width: 350px;
    }
    .right-panel__cirkle-first{
        margin: -1px 7px 1px -5px;
    }
                    /*second*/
    .right-panel__description__link:nth-child(3) {
        margin: 19px 0 0 39px;
        width: 350px;
    }
    .description__text:nth-child(3){
        margin: 4px;
    }
    .right-panel__cirkle-second{
        margin: -1px 7px 1px -5px;
    }
                    /*third*/
    .right-panel__description__link:nth-child(4) {
        margin: 26px 0 0 34px;
        width: 350px;
    }
    .description__text:nth-child(4){
        margin: 4px;
    }
    .right-panel__cirkle-third{
        margin: -4px 6px 0 0;
    }

    .right-panel__link {
        display: none;
    }

    .right-panel__link--768 {
        display: inline-block;
        margin: 6px 0 0 225px;
    }

    /*panel logo*/
    .panel-logo {
        height: 423px;
        padding: 0;
    }
    .panel-logo a{
        display: inline-block;
    }
    .logo-brands:nth-child(1) {
        margin: 52px 0 0 47px;
        width: 30%;
        text-align: center;
    }

    .logo-brands:nth-child(2) {
        margin: 0 0 0 26px;
        width: 30%;
        text-align: center;
    }

    .logo-brands:nth-child(3) {
        margin: 57px 0 0 54px;
        width: 30%;
        text-align: center;
    }

    .logo-brands:nth-child(4) {
        margin: 0 0 0 23px;
        width: 30%;
        text-align: center;
    }

    .logo-brands:nth-child(5) {
        margin: 37px 0 0 35px;
        width: 30%;
        text-align: center;
    }

    .logo-brands:nth-child(6) {
        margin: 0 0 0 56px;
        width: 30%;
        text-align: center;
    }

    /*bottom article*/
    .bottom-article {
        display: none;
    }

    /*footer*/
    .footer {
        background: url("../img/bg-footer768.jpg") no-repeat;
        height: 201px;
    }

    /*bottom menu*/
    .bottom-menu {
        display: none;
    }

    .signature {
        margin: 39px 0 0 -4px;
        float: none;
        text-align: center;
        font-size: 12.7px;
    }
}