@media (min-width: 768px) and (max-width: 960px) {
    .aligner {
        width: 768px;
        position: absolute;
        left: 50%;
        margin-left: -384px;
    }

    /*logo & menu*/
    .site-top {
        height: 798px;
    }

    .site-top__logo {
        margin: 51px 0 0 29px;
    }

    .top-menu {
        margin: 32px 0 0 19px;
        clear: both;
    }

    .menu__item {
        padding-right: 12px;
        font-size: 23px;
    }

    .menu__item:nth-child(5) {
        margin-left: 34px;
    }

    .menu__item:nth-child(6) {
        margin-left: 38px;
    }

    /*slider*/
    .slider {
        margin: 244px 0 0 0;
    }

    .slaider__ico-left {
        top: 77px;
        left: 6px;
    }

    .slider__left-p {
        margin: 345px 0 0 53px;
        width: 296px;
        overflow: hidden;
    }

    .slider__header-1st-level {
        font-size: 45px;
    }

    .slider__header-2st-level {
        font-size: 17.5pt;
        height: 30px;
        overflow: hidden;
        margin: 5px 5px 5px 0;
    }

    .slider_article {
        font-size: 20px;
        font-family: "Open Sans";
        margin: -1px 0 0 0;
        letter-spacing: 0;
        line-height: 26px;
        height: 100px;
    }

    .slaider__iphone {
        width: 36%;
        top: -125px;
        left: 455px;
    }

    .slaider__ico-right {
        top: 78px;
        left: 753px;
    }

    .slider__down-slider {
        position: absolute;
        top: 163px;
        left: -156px;
    }

    /*top article*/
    .top-article {
        padding: 50px 0;
    }

    .top-article__header {
        font-size: 23px;
    }

    .top-article__article {
        margin: 3px 0 0 0px;
        height: 145px;
    }

    .top-article__link {
        position: static;
        margin: 4px 2px 0 0;
        text-align: right;
        display: block;
    }

    .top-article__link:hover {
        text-shadow: #ffffff 0 0 5px;
    }

    /*top left article*/
    .top-article__left {
        width: 25%;
        height: 176px;
        margin: 26px 0 0 56px;
    }

    .left__sprite {
        margin: 2px 0 0 -17px;
    }

    /*top center article*/
    .top-article__center {
        width: 25%;
        height: 176px;
        margin: 26px 0 2px 67px;
    }

    .top-article__center > .center__sprite {
        background-position: 0 0;
        margin: 3px 0 0 -17px;
    }

    /*top right article*/

    .top-article__right {
        width: 27%;
        height: 176px;
        margin: 26px 0 0 50px;
    }


    .top-article__right > .right__sprite {
        background-position: 0 0;
        margin: 4px 10px 0 6px;
    }

    /*center article*/
    .center-article {
        padding-bottom: 52px;
    }

    /*left panel center article*/
    .left-panel__article {
        margin: 102px 0 0 51px;
        padding: 10px 10px -0 0;
        width: 303px;
    }

    .left-panel__article__photo {
        top: 19px;
        left: -24px;
    }

    .black-header {
        font-size: 24px;
        display: block;
        margin: 16px 5px -4px 39px;
    }

    .pink-header {
        font-size: 24px;
        margin-left: 39px;
    }

    .left-panel__article__text {
        font-size: 18px;
        margin: 6px 0 0 35px;
        height: 143px;
    }

    .center-article__slider {
        margin: 70px 0 0 114px;
    }

    /*right panel center article*/
    .center-article__right-panel {
        margin: 128px 0 0 0;
    }

    .right-panel__header {
        margin: 0 0 0 40px;
    }

    .description__blok {
        margin: 3px 0 0 5px;
    }

    .description__header {
        font-size: 17px;
        font-weight: bold;
    }

    .description__text {
        margin: 5px 0 0 61px;
        font-size: 16px;
        height: 20px;
        width: 266px;
        overflow: hidden;
    }

    .right-panel__description__link {
        margin: 13px 2px 0 40px;
    }

    .right-panel__description__link:nth-child(2) {
        margin: 15px 2px 0 39px;
    }

    .right-panel__description__link:nth-child(3) {
        margin: 24px 0 0 31px;
    }

    .right-panel__description__link:nth-child(4) {
        margin: 20px 0 0 32px;
    }

    .right-panel__link {
        display: none;
    }

    .right-panel__link--768 {
        display: inline-block;
        margin: 19px 0 0 180px;
    }

    /*panel logo*/
    .panel-logo {
        height: 93px;
    }

    .logo-brands:nth-child(1) {
        margin-left: 30px;
    }

    .logo-brands:nth-child(2) {
        margin-left: 52px;
    }

    .logo-brands:nth-child(3) {
        margin-left: 52px;
    }

    .logo-brands:nth-child(4) {
        margin-left: 61px;
    }

    .logo-brands:nth-child(5) {
        margin-left: 51px;
    }

    .logo-brands:nth-child(6) {
        margin-left: 51px;
    }

    /*bottom article*/
    .bottom-article {
        background: #ececec;
        height: 398px;
        position: static;
    }

    /*left*/
    .bottom-article__left {
        width: 27%;
        margin: 90px 0 0 28px;
        float: left;
    }
    .mini_logo{
        display: none;
    }
    .bottom-article__left > .bottom-article__center-right__link {
        display: inline-block;
        margin: 10px 0 0 -2px;
        font-size: 24px;
    }
    .bottom-article__left >.bottom-article__left_header{
        display: none;
    }

    .bottom-article__left__text {
        margin: 8px 0 0 -1px;
        height: 172px;
    }

    /*center*/
    .bottom-article__center {
        width: 27%;
        margin: 92px 0 0 59px;
    }
    .bottom-article__center-right__link--mod{
        color: #454545;
        margin: 10px 0 0 -2px;
        font-size: 24px;
    }
    .bottom-article__center > .bottom-article__center-right__link--mod {
        display: inline-block;
    }
    .bottom-article__center > .bottom-article__center-right__link{
        display: none;
    }
    .bottom-article__center-right__link {
        color: #454545;
        font-size: 29px;
        margin: 10px 0 0 15px;
    }

    .bottom-article__center-right__text {
        margin: 6px 0 0 -1px;
        height: 172px;
    }

    /*right*/
    .bottom-article__right {
        width: 27%;
        margin: 102px 0 0 56px;
    }
    .bottom-article__right > .bottom-article__center-right__link{
        margin: 100px 0 0 -2px;
        font-size: 24px;
    }

    /*footer*/
    .footer {
        background: url("../img/bg-footer768.jpg") no-repeat;
        height: 201px;
    }

    /*bottom menu*/
    .bottom-menu {
        margin: 44px 0 0 22px;
    }

    .bottom-menu li:nth-child(2),
    .bottom-menu li:nth-child(3),
    .bottom-menu li:nth-child(4),
    .bottom-menu li:nth-child(5),
    .bottom-menu li:nth-child(6){
        margin-left: 26px;
    }

    .menu--mod {
        font-size: 20px;
        margin: 0 0 0 0;
    }

    .signature {
        margin: 101px 14px 0 0;
    }
}