/*wrapper*/
.wrapper {
    margin-left: 194px;
}
/*header*/
header{
    margin-top: 10px;
}
.top-menu{
    float: left;
    margin: 6px 0 0 7px;
}
.img-phone{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #0e3a5e url("../img/phone.png") center;
    margin: 5px 0 0 2px;
}
.phone-number{
    float: left;
    color: #6d767a;
    font-size: 12pt;
    padding: 0 0 0 5px;
    letter-spacing: 1.4px;
    margin-top: 7px;
    font-weight: 100;
}
.some-action{
    float: left;
    margin: 1px 0 2px 15px ;
    padding: 4px 6px 3px 4px;
    background-color: #0e3a5e;
    font-size: 7pt;
    border-radius: 4px;
    box-shadow: 3px 3px 5px 0 rgba(194,192,194,1);
}
.auto-img{
    float: left;
    width: 18px;
    height: 19px;
    background: #0e3a5e url("../img/authorization-form2.png") center no-repeat;
    background-blend-mode: normal;
    margin-right: 2px;
}
input[type="text"], input[type="password"]{
    width: 108px;
    height: 13px;
    padding-left: 2px;
    margin-right: 5px;
}
.entry{
    color: white;
    padding:1px 4px 0 2px;
    letter-spacing: 1px;
}
.border-entry{
    border-right: 1px solid white;
}
.lost-password{
    color: #8b96a0;
    margin-left: 16px;
    font-size: 8pt;
    letter-spacing: 1px;
    border-bottom: 1px solid #8b96a0;
    padding-bottom: 1px;
    padding-right: 2px;
}
.map-site{
    float: left;
    margin-left: 18px;
    margin-top: 2px;
    border-radius: 10px;
    border: 1px solid #8b96a0;
    padding: 0 11px 2px 9px;
}
.logo img{
    clear: both;
    margin-top: 9px;
    margin-left: 1px;
}
/*sidebar*/
.main-menu{
    float: left;
    padding-left: 128px;
    margin: 2px 0 0 0;
    background: linear-gradient(to bottom,#505860 15%, #2a2e32 40%, #000000);
    list-style: none;
    border-radius: 5px 0 0 5px;
    height: 35px;
    box-shadow: 3px 3px 5px 0 rgba(194,192,194,1);
}
.main-menu .menu-item {
    float: left;
    text-transform: uppercase;
    color: #b1bcc0;
    font-size:10pt;
    margin:5px 0 10px 1px;
    padding: 5px 18px 5px 18px;
    letter-spacing: 0.5px;
}
.main-menu .menu-item:nth-child(2){
    margin: 5px 1px 1px -3px;
}
.main-menu .menu-item:nth-child(3){
    margin: 5px 1px 1px -7px;
}
.main-menu .menu-item:nth-child(4){
    margin: 5px 1px 1px -10px;
}
.main-menu .menu-item:nth-child(5){
    margin: 5px 1px 1px -14px;
}
.menu-item:hover{
    background-color: #1b5a7b;
    padding: 5px 18px 5px 18px;
    margin-bottom: -5px;
    border-radius: 10px;
}
.basket{
    margin: 2px 0 0 0;
    float: left;
    background: linear-gradient(to bottom,#505860 15%, #2a2e32 40%, #000000);
    list-style: none;
    border-radius: 0 5px 5px 0;
    padding:7px 0 6px 4px;
    box-shadow: 3px 3px 5px 0 rgba(194,192,194,1);
}
.basket-image{
    margin: 1px 9px 0 45px;
    float: left;
}
.basket-text{
    font-size: 8pt;
    color: #929b9f;
    letter-spacing: 0.1px;
}
.basket-kol{
    color: #0d5a8f;
    font-size: 9pt;
}
.basket-sum-opis{
    font-size: 8pt;
    color: #929b9f;
    letter-spacing: 0.79px;
    margin-left: 9px;
}
.basket-sum-kol{
    font-size: 9pt;
    margin-left: 5px;
    color: #0d5a8f;
    padding-right: 16px;
    letter-spacing: 0.6px;
}
/*empty-area*/
.empty-area{
    height: 160px;
    float: left;
    margin: 2px 1px 1px 5px;
}
.find-tires{
    margin: 7px -3px 0 3px;
}
/*main*/
/*left menu*/
main{
    clear: both;
}
.left-menu{
    width: 174px;
    float: left;
}
.file-icon{
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #114165 url("../img/file.png") center no-repeat;
    margin: 0 0 0 -3px;
}
.check-sign {
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding: 0 0 0 4px;
    letter-spacing: 0.7px;
}
.catalog{
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 174px;
    margin-top:0;
    padding: 4px 0 4px 6px;
}
/*marker*/
.marker-white{
    height: 11px;
    width: 11px;
    background-color: white;
    border-radius: 50%;
    margin-top: 2px;
    position: absolute;
    top: 3px;
    left: 6px;
}
.marker-blue{
    height: 22px;
    width: 22px;
    background-color: #0d5a8f;
    border-radius: 50%;
    position: relative;
    float: left;
}
/*shini spisok*/
.left-shini{
    margin: 13px 0 0 1px;
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 144px;
    padding: 1px 0 4px 5px;
}
.check-shini{
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding: 0 0 0 4px;
    letter-spacing: 1px;
    vertical-align: sub;
}
.snini-ul{
    margin-left: 48px;
    list-style-type: circle;
    letter-spacing: 0.4px;
}
.shini-li{
    font-size: 13px;
    color: #0d5a8f;
    padding: 5px 0 6px 0;
}
.shini-li:hover{
    font-weight: bold;
    font-style: italic;
}
/*diski spisok*/
.left-diski{
    margin: -3px 0 0 1px;
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 144px;
    padding: 2px 2px 5px 4px;
}
.check-diski{
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding: 0 0 0 6px;
    letter-spacing: 1px;
}
.diski-ul{
    margin-left: 48px;
    letter-spacing: 0.4px;
    list-style-type: circle;
}
.diski-li{
    font-size: 13px;
    color: #0d5a8f;
    padding: 5px 0 5px 0;
}
.diski-li:hover{
    font-weight: bold;
    font-style: italic;
}
/*bolti*/
.left-bolti{
    margin: -1px 0 0 1px;
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 144px;
    padding: 3px 1px 5px 4px;
}
.check-bolti{
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding:0 0 0 4px;
    letter-spacing: 1px;
}
.bolti-ul{
    margin-left: 48px;
    list-style-type: circle;
    letter-spacing: 0.4px;
}
.bolti-li{
    font-size: 13px;
    color: #0d5a8f;
    padding: 5px 0 6px 0;
}
.bolti-li:hover{
    font-weight: bold;
    font-style: italic;
}
/*right menu*/
/*brands*/
.right-menu{
    width: 174px;
    float: left;
    margin-left: 5px;
}
.brands{
    margin: -2px 0 5px 4px;
    border: 1px solid #0d5a8f;
    border-radius: 13px;
    width:  167px;
    padding:3px 7px 4px 6px;
}
/*shini*/
.right-shini {
    margin: 15px 0 0 18px;
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 126px;
    padding: 3px 4px 5px 4px;
    vertical-align: sub;
}
.right-check-shini{
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding: 2px 4px 5px 6px;
    letter-spacing: 1px;
}
.check-box-shini{
    color: #0d5a8f;
    font-size: 11px;
    margin:7px 1px 28px 18px;
    line-height: 14px;
    letter-spacing: 1.4px;
}
.chekked{
    margin:0 1px 11px 10px;
}
.label-check-box{
    margin-left:10px;
}
/*diski*/
.right-diski {
    margin: -13px 0 0 18px;
    border-radius: 13px;
    border: 1px solid #0d5a8f;
    width: 126px;
    padding: 3px 7px 5px 1px;
}
.right-check-diski{
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 9pt;
    color: #0d5a8f;
    padding: 2px 4px 5px 8px;
    letter-spacing: 1px;
}
.check-box-diski{
    color: #0d5a8f;
    font-size: 11px;
    margin: 8px 0 0 18px;
    line-height: 14px;
    letter-spacing:1.225px;
    padding: 1px 1px 1px 1px;
}
input[type="checkbox"]{
    height: 10px;
    width: 10px;
}
.create{
    margin: 10px 0 0 28px;
    padding: 4px 10px 6px 9px;
    background-color: #0d5a8f;
    border: 1px solid #0d5a8f;
    border-radius: 12px;
    color: white;
    font-size:11.5px;
    letter-spacing: 1.8px;
}
/*logo brands*/
.logo-brands{
    float: left;
    margin: 37px 0 26px 109px;
    padding: 0 1px 0 4px;
}
.center-img{
    vertical-align: middle;
    margin: 0 5px 0 4px;
}
footer{
    clear: both;
    background-color: #213a4d;
    width: 911px;
    height: 100px;
}
.footer-menu{
    margin: 0 0 0 311px;
}
.footer-li{
    float: left;
    font-size: 12px;
    color: white;
    margin:11px 14px 9px 0;
    padding-right: 9.8px;
    letter-spacing: 0.4px;
    border-right: 1px solid white;
}
.footer-li:last-child{
    border: none;
}
.footer-li:hover{
    color: #4a99b6;
}
.signature-site{
    clear: both;
    text-align: center;
}
.signature-site-text {
    color: #7f4740;
    font-size: 10px;
}

/*content*/
.panel-goods{
    float: left;
    height: 627px;
    width: 526px;
    margin: -2px 1px 1px 18px;
    background: linear-gradient(to bottom,#e4e7e8, #c7d0d4, #a8b7bf, #95a8b1);
}
/*goods*/
p{
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #206988;
    line-height: 6px;
}
figure{
    float: left;
    margin: 20px 10px 0 20px;
    width: 138px;
    height: 100px;
    text-align: center;
}
/*goodyear*/
.img-panel-1{
padding: 5px 33px 4px 30px;
margin: 0 0 0 2px;
background-color: white;
border-radius: 5px;
}
.opis-panel-1{
font-size: 14px;
margin: 12px 0 0 9px;
}
.price-1{
    font-size: 16px;
    color: #114165;
    font-weight: bold;
    margin-left: 19px;
    font-style: italic;
}
/*nokian*/
.img-panel-2{
    padding: 5px 34px 4px 34px;
    margin: 0 0 0 2px;
    background-color: white;
    border-radius: 5px;
}
.opis-panel-2{
    font-size: 14px;
    margin: 0 0 0 9px;
}.price-2{
     font-size: 16px;
     color: #114165;
     font-weight: bold;
     margin-left: 22px;
     font-style: italic;
 }
 /*Hankook*/
.img-panel-3{
    padding: 5px 30px 4px 28px;
    margin: 0 0 0 3px;
    background-color: white;
    border-radius: 5px;
}
.opis-panel-3{
    font-size: 14px;
    margin: 0 0 0 2px;
}.price-3{
     font-size: 16px;
     color: #114165;
     font-weight: bold;
     margin-left: 22px;
     font-style: italic;
 }
 .center-panel{
     clear: both;
     margin: 202px 0 0 0;
 }
 .bottom-panel{
     clear: both;
     margin: 406px 0 0 0;
 }