body{
    background-color: whitesmoke;
}
.wrapper {
    width: 800px;
    margin: 50px auto;
    background-color: lightskyblue;
}

.carousel-hider {
    width: 500px;
    overflow: hidden;
    float: left;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
    left: 0;
}

.carousel-element img {
    max-width: 100px;
}

.arrow-left, .arrow-right{
    width: 50px;
    display: inline-block;
    float: left;
}
/*template*/

.header-info, .residence{
    text-align: center;
    font-size: 25px;
}

.img-form{
    margin: 10px auto;
    display: block;
}

.header-name{
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.reason{
    list-style: none;
    font-size: 17px;
    margin: 5px 20px;
    display: inline-block;
}

.vk, .facebook{
    width: 100px;
}

.education{
    margin-left: 20px;
}