<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <title>Plugin&Template</title>
    <link rel="shortcut icon" href="icon.gif">
</head>
<body>
    <div class="wrapper">
        <script type="text/template" id="base-template">
            <p class="header-test"><%-database.title %></p>
            <% for (var itq =0; itq < database.questions.length; itq++){ %>
            <div class="question-block">
                <p class="question-block--item"><%-database.questions[itq].question %></p>
                <ol>
                    <% for (var ita = 0; ita < database.questions[itq].answer.length; ita++){%>
                    <li class="answer-block">
                        <input type="checkbox" id="<%-'chkBx_' + itq + '_' + ita %>">
                        <label for="<%-'chkBx_' + itq + '_' + ita %>">
                            <%-database.questions[itq].answer[ita].textAnswer%>
                        </label>
                    </li>
                    <% }%>
                </ol>
            </div>
            <% }%>
            <div class="user-name-block">
                <span class="user-name-text">User name:</span>
                <input type="text" class="user-name-input">
            </div>
            <input type="button" class="button-checked" value="Проверить тест!">
        </script>
    </div>
    <script src="js/build/production.min.js"></script>
</body>
</html>