.main-form{
    clear: both;
    background: url(../img/Background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 1024px;
}
/*First menu*/
.empty-one{
    float: right;
    width: 20px;
    height: 28px;
    background-color:#07518f;
}
.empty-two{
    float: right;
    width: 25px;
    height: 28px;
    background-color:#07518f;
    border-left: 1px solid #56a2dc;
}
.empty-two img {
    width: 60%;
    margin:20% 0 20% 50%;
    text-align: center;
}
.menu li{
    float: right;
    background-color: #07518f;
    padding: 5px 20px 7px 20px;
}
.menu li a{
    color: white;
}
.menu .fm{
    background-color: #07518f;
    color: white;
}
.menu li:hover{
    background-color: #4eacda;
    padding: 5px 20px 7px 20px;
}
/*Second menu*/
.menu .sm{
    padding-right: 20px;
}
.empty-three{
    width: 500px;
    height: 28px;
    background-color: #07518f;
    float: right;
}