.page{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.logo{
    float: left;
}
.logo img{
    width: 128%;
    margin-left: 3%;
    position: relative;
}
.logo-text{
    top: 11%;
    left:14.5%;
    font-size: 100%;
    color: #128aa7;
    position: absolute;
}
.contact{
    float: right;
    margin:1% 4% 0 0;
}
.contact-text{
    color: #128aa7;
    font-size: 126%;
}

.country{
    float: right;
    clear: right;
    margin: 2% 3% 0 0;
    width: 50%;
}
.country li{
    float: right;
    text-align: center;
    margin: 0 1% 0 1%;
    color: #128aa7;
    text-decoration: underline;
}
.header clearfix:after{
    content: '';
    clear: both;
    display: block;
}
.pictures img{
    width: 100%;
    border: 1px solid #128aa7;
}