body{
    background-color: whitesmoke;
}

.wrapper{
    width: 500px;
    margin: 0 auto;
    padding: 5px;
}

.wrapper-img{
    width: 500px;
    height: 150px;
}

.wrapper-text{
    display: inline-block;
    margin: 10px auto;
    width: 500px;
}

.wrapper-submit{
    display: block;
    margin: 10px auto;
    width: 130px;
    padding: 3px;
}

.wrapper-answer{
    margin: 0 50px 0 50px;
    padding: 13px;
}
.answer-block{
    margin: 25px 0 0 0;
    background-color: white;
    padding: 10px;
}
.answer-item{
    margin: 10px 0 0 15px;
    padding: 5px;
}