body {
    background-color: lightgray;
}
.wrapper{
    width: 768px;
    margin: 50px auto ;
    background-color: white;
    border: 1px solid black;
    height: 500px;
    position: relative;
}
.center-header{
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: 15px;
}
.p-questions{
    margin: 10px 0;
}
.label-questions{
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    margin-left: 70px;
}
.p-answers{
    margin: 5px 0 2px 87px;
}
input[type="checkbox"]{
    background: powderblue;
}