body {
    background-color: gray;
}
.wrapper{
    width: 768px;
    margin: 50px auto ;
    background-color: white;
    border: 1px solid black;
    height: 500px;
}
.center-header{
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    text-align: center;
    margin-top: 15px;
}